---
import Base from "../layouts/Base.astro";
---

<Base title="About - Tony Bowen" description="About Tony Bowen — technology leader, software engineer, and dog enthusiast.">
  <section class="about">
    <h1>About Me</h1>
    <img src="/images/tony.jpg" alt="Tony Bowen" class="about-photo" />
    <p>
      I've been leading the technology industry for over a decade on everything from Financial Technology, Software-as-a-Service, and Technology Consulting. I typically hyper-fixate on what interests me within the industry at any given time, which could be anything from practicing white-hat penetration testing to creating agentic solutions to creating open-source quality and vulnerability software.
    </p>
    <p>
      Growing up, I was obsessed with technology. I loved video games (proud Pokemon Red child here) growing up, and still find them extremely interesting. I'm in the gym quite a bit, but some injuries with my shoulder and back has had me lighten the load quite a bit. I also think Magic the Gathering is super sick. Me and my buddies will get together and spend a few hours playing Commander for giggles.
    </p>
    <p>
      Really, at the end of it all, I think I fell into those things because of the complex rulesets. The heuristics of all the day-to-day life works is EXTREMELY fascinating to me, especially given I love to see how far I can push the boundaries to innovate on/against those heuristics.
    </p>
    <p>
      Outside of technology, my wife and I have 2 dogs that we're hyper-obsessed with. They're good dogs 10/10.
    </p>
  </section>
</Base>
